section {
    display: grid;
    place-items: center;
    min-height: 100%;
    max-height: auto;
    padding: 3em 2em;
}
section .title {
    color: #ddd;
    font-size: 3em;
}
section .order {
    display: flex;
    align-items: center;
    margin-top: 2.7em;
    padding-bottom: 1em;
    margin-bottom: .8em;
    border-bottom: 2px solid #727272 !important;
}
section .order h2 {
    display: flex;
    align-items: center;
    color: #999;
    font-size: 1em;
    font-weight: 600 !important;
    margin-right: .4em;
    text-decoration: none;
}
section .order select {
    color: #727272;
    font-size: 1em;
    font-weight: 600;
    outline: none !important;
    border: none !important;
    background-color: #000;
}
section .order select option {
    font-size: .9em;
    background-color: #111;
}
section .call-to-action {
    display: flex;
    justify-content: flex-end;
}
section.hero-section .call-to-action a {
    display: flex;
    align-items: center;
    color: #ddd;
    font-size: 1em;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
}
section.hero-section .call-to-action a img {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}


/* Breaking points, media querys */
@media (min-width: 768.98px) {
    section {
        display: block !important;
        padding: 8em 6em 2em 6em;
    }
    section .title {
        font-size: 4.5em;
    }
}
@media (min-width: 992.98px) {
    section {
        display: block !important;
        padding: 5em 11em 2em 11em;
    }
    section .title {
        font-size: 5em;
    }
}